


body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}
h2{
    margin-top: 93px;
    margin-bottom: 5px;
    font-size: 25px;
    text-align: center;
    line-height: 1.2;
}
table {
    border-spacing: 12px 10px;
    table-layout: fixed;
    width: auto;
}
tbody{
    display: block;
    width: 100%;
}
.table {
    display: flex;
    justify-content: center;
}
td:first-child {
    width: 80px;
}
.date{
    font-weight: 600;
    padding-top: 30px;
}
.num{
    vertical-align: top;
}